<h1>Esto es un Main</h1>

{{#if listExist}}
    <h3>Existe la Lista</h3>
    <ul>
        {{#each list}}
            <li>{{firstName}} {{lastName}}</li>
        {{/each}}
    </ul>    
{{/if}}

{{> footer }}