<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Colors</title>
</head>

<body>

  <h2>Color Form</h2>
  <form action="/" method="POST">
    <input type="text" name="color" placeholder="colour" />
    <button type="submit">Send</button>
  </form>
  <ul>
    <% if(colors) {%>
      <% colors.forEach(color=> { %>
        <li style="color: <%= color %>">
          <%= color %>
        </li>
      <% }) %>
    <% } %>
  </ul>

</body>

</html>