 <!-- Chat -->

<div class="container col-8 align-self-center border mt-3 bg-light p-3">
    <h2 class="text-center">Centro de Mensajes:</h2>
    <form onsubmit="return addMessage(this)" class="mt-5">
        <div class="mb-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="ingrese su email" required>
        </div>

        <div class="container col-12">
            <table class="table">
                <tbody id="mensajesChat">
        
                </tbody>
            </table>
        </div>

        <div class="mb-3 d-flex align-items-center">
            <div class="col-10">
                <input type="text" class="form-control" id="message" name="message" placeholder="Ingrese su mensaje..." required>
            </div>
            <div class="col-2 ml-2 text-center">
                <input type="submit" value="Enviar">
            </div>
        </div>
    </form>
</div>
