<div class="container col-8 align-self-center border mt-3 bg-light p-3">
    
    <div class="mb-3 d-flex justify-content-around">
        
        <h2>Bienvenido <%= username %> <span id="username"></span></h2>
        <h2>Edad: <%= age %> <span id="age"></span></h2>
        <button id="logoutButton"> Logout</button>
    
    </div>


</div>